services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: suda-gs-ams-frontend
    ports:
      - "80:80"
    environment:
      # ⚠️ 必须以 "/" 结尾
      - API_UPSTREAM=http://suda_union.zhongyaohui.club/
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
